# The git ignore file for CS230 Deep Actor

# Virtual environments
DeepLearning/
venv/

# Models
refs/remotes/origin/master
models/pretrained_facenet/
models/triplet_loss/

# training data
src/train_data/FaceID/
train_data/Triplet_Loss/
train_data/FaceID/

# Jupyter files
.ipynb_checkpoints

# PyCharm
.idea/
