# The git ignore file for CS230 Deep Actor

# Virtual environments
DeepLearning/
venv/

# Models
refs/remotes/origin/master
models/pretrained_facenet/

# training data
train_data/FaceID/

# Jupyter files
.ipynb_checkpoints

# PyCharm
.idea/
